.modalWrapper {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;

  &.fadeIn {
    animation: maskFadeIn 0.3s linear forwards;
  }

  &.fadeOut {
    animation: maskFadeOut 0.3s linear forwards;
  }

  .modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 99;
    opacity: 1;

    &.fadeIn {
      animation: modalFadeIn 0.3s ease-in-out forwards;
    }

    &.fadeOut {
      animation: modalFadeOut 0.3s ease-in-out forwards;
    }
  }
}

@keyframes maskFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes maskFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modalFadeIn {
  from {
    top: 100%;
  }
  to {
    top: 50%;
  }
}

@keyframes modalFadeOut {
  from {
    top: 50%;
  }
  to {
    top: 100%;
  }
}
